<?xml version="1.0" encoding="utf-8" ?>

<!-- 
    See comments at AppSettings section of Web.config to learn more about this file.
    
    Ensure this file's Properties > Build Action is None so it is not published to the website.
-->
<appSettings>
    <add key="Application:InitialAdministratorEmailAddress" value="tim@example.org"/>
    <add key="Application:IsDeveloperMachine" value="true" />
    <add key="Azure:StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <add key="Azure:TableNameFormat" value="ca{0}" />
</appSettings>
